/* FontAwesome for working BootSnippet :> */

.team {
    background: #eee !important;
    max-height: 500px;
    overflow-y: scroll;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #348ece;
    border-color: #348ece;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #348ece;
    margin-bottom: 50px;
    text-transform: uppercase;
}


.team .card a {
  text-decoration: none;
}

/* 
.image-flip.backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
} */

.image-flip  .fliped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    cursor: pointer;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    cursor: pointer;
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 220px;
    max-height:260px;
}

.backside .card a {
    /* color: #348ece !important; */
    text-decoration: none;
}

/* .frontside .card .card-title,
.backside .card .card-title {
    color: #348ece !important;
}
.frontside .card .card-text,
.backside .card .card-text {
    color: #348ece !important;
} */

.frontside .card .card-body img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.card .card-body{
padding: 0.25rem;
margin-top: 6px;
}

.front .flipme,.back .flipme{
    text-align: center;
    display: block;
}

.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.event-list > li  {
    background-color: transparent;
    padding: 0px;
    margin: 0px 0px 0px;
    border-top: 0.5px solid gainsboro;
}
.event-list > li:first-child {
    border-top:none;
}
.event-list > li:last-child {
    border-bottom: 0.5px solid gainsboro;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > i.icon{
    margin-top: 5px;
    float: left;
    padding: 3px;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 10pt;
    font-weight: 700;
    margin: 0px;
    text-align: left;
}
.event-list > li > .info > .desc {
    font-size: 9pt;
    font-weight: 300;
    margin: 0px;
    text-align: left;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        padding:0px 6px;
    min-height: 35px;
    }
    
    .event-list > li > .info {
        background-color: transparent;
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 10px;
        height: 10px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        text-align: left;
    }	
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {			
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}