@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.viewUserProfile {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }

  }
}

/* FontAwesome for working BootSnippet :> */

$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #ffffff;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;

.card-profile {
  width: 100%;
  background-color: $card-bg;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);
  
  .card-img-top {
    border-radius: 0;
height:120px;
  }

  .card-img-profile {
    max-width: 120px;
    border-radius: 50%;
    margin-top: -60px;
    border: 5px solid $card-bg;
  }

  .card-title {
    margin-bottom: 25px;

    small {
      display: block;
      font-size: .6em;
      margin-top: .2em;
    }
  }
  
  .card-links {
    margin-bottom: 7px;

    .fa {
      margin: 0 1em;
      font-size: 1.6em;
      
      &:focus,
      &:hover {
        text-decoration: none;
      }
      
      &.fa-dribbble {
        color: $dribbble-color;
        font-weight: bold;
        
        &:hover {
          color: darken($dribbble-color, 10%);
        }
      }

      &.fa-twitter {
        color: $twitter-color;

        &:hover {
          color: darken($twitter-color, 10%);
        }
      }
      
      &.fa-facebook {
        color: $facebook-color;

        &:hover {
          color: darken($facebook-color, 10%);
        }
      }
    }
  }
 .modal-body-nopadding{
  padding: none!important;
  }
}
